.cardText{
    visibility: visible;
}

.c0{
    background-color: springgreen;

}

.c1{
    background-color: green;

}

.c2{
    background-color: navajowhite;

}

.c3{
    background-color: deeppink;

}

.c4{
    background-color: indigo;

}

.c5{
    background-color: orangered;

}

.c6{
    background-color: lightseagreen;
}

.c7{
    background-color: red;

}

.c8{
    background-color: orange;

}

.c9{
    background-color: greenyellow;

}

.c10{
    background-color: silver;

}

.c11{
    background-color: yellow;

}