.card > .cardText{
    display: none;
}

.card{
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
}

.card.picked > .cardText{
    display: block;
}

.c0{
    border-color: springgreen;

}

.c1{
    border-color: chartreuse;

}

.c2{
    border-color: navajowhite;

}

.c3{
    border-color: deeppink;

}

.c4{
    border-color: indigo;

}

.c5{
    border-color: orangered;

}

.c6{
    border-color: lightseagreen;
}

.c7{
    border-color: red;

}

.c8{
    border-color: orange;

}

.c9{
    border-color: lightpink;

}

.c10{
    border-color: silver;

}

.c11{
    border-color: yellow;

}