*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  display:flex;

  height: 100vh;
  flex-direction: column;
  justify-content:space-around;
  background-color: #222222;



}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.card_container{
  display: flex;
  height: 80%;
  background-color: #222222;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;

  ;
}
header{
  height: 10%;
  background-color: chartreuse;
  display :flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card{
  order: 1;
  margin: 3px;
  background-color: antiquewhite;
  border: 1px black solid;
  width: 20%;
  height:15%;
}

.pairing_list{
  height: 7%;
  background-color: chartreuse;
}

/**/
.scrollmenu{
  width: 99%;
  align-content: space-between ;
}

.menu-item {
  padding: 0 40px;
  /* margin: 5px 10px; */
  min-width: 100px;
  user-select: none;
  cursor: pointer;
  /*background-color: tomato;*/
  border-left: #222222 solid 2px;
  height: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
/*.menu-item-wrapper.active {*/
  /*border: 3px blue solid;*/

/*}*/

/*.menu-item-wrapper.active > .menu-item {*/
  /*background-color: white !important;*/
/*}*/

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
